.multi-date-picker-container .react-datepicker__month-container {
    display: inline-block;
    gap: 50px;
  }
  
  .selected-date {
    background-color: #007bff;
    color: white !important;
  }
  